@model LoginModel

<h1>
    @ViewBag.Message
</h1>

<h1>
    @ViewData["message"]
</h1>

@Model.Username

<form asp-controller="Login" asp-action="Index">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username"/>
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password">Heslo</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <button type="submit">Prihlasit</button>
    </div>
</form>