@model JizdniRad.Models.Departure

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Departure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Linka</label>
                <select asp-for="LineId" class="form-control" asp-items="ViewBag.LineId"></select>
                <span asp-validation-for="LineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayType" class="control-label"></label>
                <input asp-for="DayType" class="form-control" />
                <span asp-validation-for="DayType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

